<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="Imagens/logo sb.png">
    <title>🌊SB STORE🌊</title>
</head>
<body>
    <header>
        <div class="mini-cabeçalho">
            <a href="https://www.instagram.com/sb.store_z/"><img src="Imagens/logo instagram.png" alt="mini logo insta" class="mini-insta" ></a>
            <p class="paragrafo">🌊 SEU DRIP É O NOSSO NEGÓCIO🌊 </p>
        </div>
    </header>

        <!-- Cabeçalho -->
    <header>
        <div class="container-logo">
            <div class="logo-imagem">
                <img src="Imagens/logo branco.png" alt="imagem da sb" class="sb-banner">

                <!-- Barra de pesquisa -->               
                <form action="#" method="post">
                  <input type="text" name="search" id="search" placeholder="    O que você está buscando?" required>
                  <button type="submit"><i class="fa-search"></i></button>
                </form>
                <!-- conta e carrinho -->
                <div>
                  <div class="div-account">
                    <img src="Imagens/user.png" alt="" class="icone-conta">
                    <h2 class="my-account">Minha conta</h2>
                  </div>
                    <div class="div-cart">
                      <img src="Imagens/icone-carrinho.png" alt="" class="icone-carrinho">
                      <h2 class="my-cart">Meu carrinho</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{{body}}}
</body>
</html>