<form action="/cadastrar" method="post">
    <div class="box-form">
        <h1>Digite as suas informações para compra</h1>
    <br>
    <div class="nome">
        <label for="name">Digite seu nome</label>
        <input type="text" name="nome">
    </div>
    <div class="email">
        <label for="name">Digite seu e-mail</label>
        <input type="text" name="email">
    </div class="alight-center">
    <button type="submit" class="form-buttom  btn-primary">Comprar</button>
    </div>
</form>