<!-- Categorias -->
    
    <div class="linha"></div>
    <header>
        <div class="categorias">
            <ul><a href="">Novidades</a></ul>
            <ul><a href="">Sneakers</a></ul>
            <ul><a href="">Roupas</a></ul>
            <ul><a href="">Acessórios</a></ul>
        </div>
    </header>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="Imagens/banner pc 2.jpg" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="Imagens/yeezy banner.jpg" alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="Imagens/banner pc off.jpg" alt="Terceiro Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
      

      <!-- informações -->
      <div class="info">
        <div class="container-info">
          <div class="box-img" id="frete">
            <img src="Imagens/frete.png" alt="" class="img" id="id-frete">
          </div>

          <div class="box">
            <h2 class="escrita-frete">Facilidade e Segurança</h2>
            <p class="escrita-frete">Entrega para todo Brasil</p>
          </div>

          <div class="box-img" id="contato">
            <img src="Imagens/wats.png" alt="" class="img" id="id-contato">
          </div>

          <div class="box">
            <h2 class="escrita-contato">Contato</h2>
            <p class="escrita-contato">Entre em contato com nossa página no instagram</p>
          </div>

          <div class="box-img" id="segurança">
            <img src="Imagens/seguranca.png" alt="" class="img" id="id-segurança">
          </div>

          <div class="box">
            <h2 class="escrita-segurança">Compra com verificação SSL</h2>
            <p class="escrita-segurança">Segurança em suas compras</p>
          </div>  
        </div>
      </div>


        <!-- Destaques -->

      <h1 class="destaque">Destaques</h1>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/dunk sb acg blue.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Nike SB Dunk Low Blue Fury</p>
          <a href="/add" class="btn btn-primary" id="buy-dunk-acg">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/dunk sb diamond.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Nike SB Dunk Low Pro Red Plum</p>
          <a href="/add" class="btn btn-primary">Comprar</a>
        </div>
      </div>
      
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/Nike sb blue fury.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text">Dunk SB Low "Pink Pig"</p>
          <a href="/add" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/dunk pink pig.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text"> Air Max 90 Terrascape</p>
          <a href="/add" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/dunk fog.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text"> Air Max 90 Terrascape</p>
          <a href="/add" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/nike sb red plum.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text"> Air Max 90 Terrascape</p>
          <a href="/add" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/sean cliver.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text"> Air Max 90 Terrascape</p>
          <a href="/add" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/dunk acg purple.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text"> Air Max 90 Terrascape</p>
          <a href="/add" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/dunk amarelo.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text"> Air Max 90 Terrascape</p>
          <a href="/add" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/air max 90 white.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text"> Air Max 90 Terrascape</p>
          <a href="/add" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/air max 90 black (1).png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text"> Air Max 90 Terrascape</p>
          <a href="/add" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/yeezy zebra.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text"> Air Max 90 Terrascape</p>
          <a href="/add" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="Imagens/yeezy black.png" alt="Imagem de capa do card">
        <div class="card-body">
          <p class="card-text-yeezy"> Yeezy Black</p>
          <a href="/add" class="btn btn-primary" id="buttom-yz">Comprar</a>
        </div>
      </div>



     
      <!-- rodape -->
      <footer class="rodape"></footer>


      <!-- java script -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="Projeto/index.js"></script>